@font-face {
  font-family: "TTNorms";
  src: url(assets/fonts/TTNorms-Regular.otf) format("openType");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circuit";
  src: url(assets/fonts/Circuit.otf) format("openType");
  font-weight: normal;
  font-style: normal;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

body {
  font-family: "TTNorms";
  margin: 0;

  button {
    cursor: pointer;
  }

  .sign-button {
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    background: #0055ff;
    padding: 6px 12px;
    border-radius: 100px;
    height: 32px;
    border: 0;
  }

  header {
    padding: 16px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      a {
        color: #000000;
        line-height: 20px;
        font-size: 14px;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }

  .hero {
    display: flex;
    background: #e6f3ff;
    justify-content: flex-end;

    .content {
      width: -webkit-fill-available;
      display: flex;
      justify-content: center;
      align-items: center;

      .left-content {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .text {
          gap: 12px;
          display: flex;
          flex-direction: column;

          h1 {
            color: #000;
            line-height: 56px;
            font-size: 52px;
            margin: 0;
            font-weight: 600;
            font-family: "Circuit";
          }

          span {
            color: #000;
            line-height: 24px;
            font-size: 16px;
          }
        }

        .ctas {
          display: flex;
          gap: 12px;

          #signup {
            padding: 8px 24px;
            height: 48px;
            font-size: 16px;
          }

          #learn-more {
            color: #0055ff;
            padding: 8px 24px;
            border: 1px solid;
            border-radius: 100px;
            background: transparent;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
    }

    .banner-container {
      height: 789px;
      width: 669px;
      min-width: 669px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  #animated-banners-container {
    align-items: center;
    background: #c0e0ff;
    display: flex;
    height: 132px;
    overflow: hidden;

    .img-container {
      animation: scrolling 20s linear infinite;
    }

    img {
      height: 45px;
    }
  }

  #what-to-expect {
    padding: 100px;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      color: #000;

      h2 {
        line-height: 40px;
        margin: 0;
        font-size: 36px;
        font-family: "Circuit";
      }

      span {
        line-height: 24px;
        font-size: 16px;
      }
    }

    .image-cols {
      display: flex;
      gap: 32px;

      .what-to-expect-item {
        gap: 16px;
        display: flex;
        width: 286px;
        min-width: 200px;
        flex-direction: column;

        img {
          border-radius: 16px;
        }

        .content {
          display: flex;
          flex-direction: column;
          color: #000;
          gap: 12px;

          .title {
            line-height: 28px;
            font-size: 20px;
            font-weight: 700;
          }

          .text {
            line-height: 24px;
            font-size: 16px;
          }
        }
      }
    }
  }

  #schedule {
    background: blue;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(assets/images/Schedule_Background_Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    .content {
      gap: 24px;
      width: 604px;
      background: #fff;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        line-height: 40px;
        font-family: "Circuit";
        margin: 0;
        font-size: 36px;
        margin-top: 48px;
        text-align: center;
      }

      .items-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0 0 48px 48px;

        .schedule-item {
          display: flex;
          gap: 20px;
          height: 24px;
          align-items: center;

          .time {
            line-height: 24px;
            font-size: 16px;
            font-weight: 600;
            width: 100px;
          }

          .text {
            line-height: 24px;
            font-size: 16px;
          }
        }
      }
    }
  }

  #sponsors {
    gap: 48px;
    flex-direction: column;
    display: flex;
    background: #f7f7f7;
    padding: 100px;
    align-items: center;
    justify-content: center;

    .title-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;

      h3 {
        line-height: 40px;
        font-size: 36px;
        font-family: "Circuit";
        margin: 0;
        font-weight: 600;
      }

      span {
        line-height: 24px;
        font-size: 16px;
      }
    }

    .menu {
      padding: 6px;
      background: #fff;
      display: flex;
      gap: 10px;
      border-radius: 30px;
      box-shadow: 0px 2px 10px 0px #00000014;
      cursor: default;

      .menu-item {
        padding: 0 24px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 100px;
        transition: all 0.3s ease;
        cursor: pointer;

        &.active {
          background-color: #0055ff;
          color: #fff;
        }
      }
    }

    .sponsor-items {
      padding: 24px 0 0;
      width: 100%;

      .sponsor-item {
        background: #f7f7f7;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        top: 0;
        left: 0;
        display: none;

        &.active {
          display: flex;
        }

        .content {
          display: flex;
          flex-direction: column;
          gap: 12px;
          width: 347px;

          .title {
            line-height: 40px;
            font-family: "Circuit";
            font-size: 36px;
          }

          .text {
            font-size: 16px;
            line-height: 24px;
          }
        }

        img {
          border-radius: 16px;
        }
      }
    }
  }

  #spotlight {
    gap: 48px;
    padding: 100px;
    background: #e6f3ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text-container {
      gap: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 604px;

      h3 {
        line-height: 40px;
        font-size: 36px;
        margin: 0;
        font-family: "Circuit";
      }

      span {
        line-height: 24px;
        text-align: center;
        font-size: 16px;
      }
    }
  }

  #footer {
    gap: 24px;
    display: flex;
    color: #fff;
    background: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      width: 604px;

      h3 {
        font-family: "Circuit";
        margin: 0;
        font-size: 36px;
        line-height: 40px;
      }

      span {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
      }
    }

    button {
      height: 48px;
      padding: 0 24px;
      font-size: 16px;
    }
  }
}
